@import "~@uw-it-sis/ui-theme/lib/css/uw-bootstrap.min.css";

body > div#root > footer {
    position: absolute;
    bottom: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}